
*,
*::before,
*::after {
    margin:0;
    box-sizing: border-box;
}

.navigation {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
    background-color: white;
    border-bottom: 0.5px solid rgba(159, 159, 159, 1);
}
.navigation-1{
    flex:1;
}
.navigation-1-content{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-1 {
    position: relative;
    text-align: left;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;

    padding: 10px;
    color: rgba(11, 19, 42, 1);
    display: inline;
}
.title-1:hover{    
    cursor: pointer;
    background: rgb(170, 168, 168);
    border-radius: 20px;
}
.title-1:active{    
    cursor: pointer;
    background: rgb(88, 87, 87);
    border-radius: 20px;
}
.navigation-2{
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navigation-2-content {
    flex: 1;
    margin:10px 0px 10px 0px;
    height: 30px;
    
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
}
.navigation-2-content:hover{
    cursor: pointer;
}
.navigation-2-content:active{
    cursor: pointer;
    background: rgb(170, 168, 168);
    color:rgb(0, 0, 0);
    border-radius: 10px;
}
.navigation-3{
    flex:1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.navigation-3-content{
    /* flex: 1; */
    margin: 0px 20px 0px 20px;
    /* padding-left: 10px; */
    height: 30px;
    display: flex;
}
.navigation-3-content:hover{
    cursor: pointer;
}
.navigation-3-content:active{
    cursor: pointer;
}
.image-1{
    border-radius: 25px;
}



.main{
    background-image: url("./assets/profile-background.jpeg");background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    display: grid;
    grid-template-rows: 90px auto;
    justify-content: center;
}
.page-title{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 50px;
    text-align: left;
    
    color: #FFFFFF;
    text-shadow: 0px 6px 8px rgba(255, 255, 255, 0.26);
    margin-left: 150px;
    margin-top: 20px;
}
.profile-container{
    margin-top: 10px;
    margin-bottom: 90px;
    margin-left:150px;
    margin-right: 150px;
    
    width: 1133px;
    height: 951px;
    background: #F8F8F8;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 400px auto;
}
.side-tab{
    display: grid;
    justify-content: center;
}
.image-container{
    text-align: center;
}
.image-2{
    height: 185px;
    width: 185px;
    border-radius: 100px;
    margin-top: 45px;
}
.name{
    width: 207px;
    height: 40px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #000000;
}
.email{
    width: 207px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    color: #000000;
}
.choose-photo{
    width: 207px;
    height: 44px;
    
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #6A4029;
    background: #FFBA33;
    border-radius: 10px;
    padding: 10px 0px;
    
}
.choose-photo:hover{
    color: #ffffff;
    cursor:u pointer;
    background: rgb(180, 127, 22);
}
.choose-photo:active{
    color: #ffffff;
    cursor: pointer;
    background: rgb(180, 127, 22);
}
.main-container{
    width: 705px;
    height: 841px;
    
    background: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.22);
    border-radius: 10px;
    margin: 55px 45px 55px 0px;
    display: grid;
    grid-template-rows: auto;
    position: relative;
}
.logo{
    position: absolute;
    right: 20px;
    width: 50;
    height: 10px;
    object-fit: fill;
}
.form{
    margin-left: 35px;
    margin-top: 35px;
}
.form-tittle{
    width: 119px;
    height: 38px;
    
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    color: #4F5665;
    margin-bottom: 25px;
}
.form-contacts{
    display: grid;
    grid-template-columns: 400px 300px;
    justify-content: space-between;
}
.form-details{
    display: grid;
    grid-template-columns: 400px 300px;
    justify-content: space-between;
}
.left-column{
    display: grid;
    grid-template-rows: auto;
    justify-content: start;
}
.right-column{
    display: flex;
    flex-direction: column;
    justify-content: initial;
}
.label{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #9F9F9F;    
}
.left-input{
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;;
    width: 350px;
    margin-bottom: 10px;
    
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 30px;
    color: #000000; 
}
.right-input{
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #ffffff;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 30px;
    color: #000000; 
}
#date::placeholder{
    
    height: 30px;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #9F9F9F;    
}
.radio{
    width: 600px;
}
.remove-photo{
    width: 207px;
    height: 44px;
    
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    background: #6A4029;
    border-radius: 10px;
    padding: 10px 0px;
}
.remove-photo:hover{
    cursor: pointer;
    color: #6A4029;
    background: #FFCB65;
}
.remove-photo:active{
    cursor: pointer;
    color: #6A4029;
    background: #c5983f;
}
.edit{
    width: 207px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #9F9F9F;
    border-radius: 20px;
    padding: 16px 0px;
    
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #6A4029;
    text-align: center;
}
.edit:hover{
    cursor: pointer;
    background: rgb(170, 168, 168);
    color: #000000;
}
.edit:active{
    background: rgb(32, 32, 32);
    color: #cfbaaf;
}
.question-box{
    width: 207px;
    height: 60px;
    
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    
    color: #6A4029;
    text-shadow: 0px 6px 9px rgba(255, 255, 255, 0.21);
    
}
.save{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    text-align: center;
    
    width: 207px;
    height: 60px;
    left: 239px;
    top: 926px;
    
    background: #6A4029;
    border-radius: 20px;
    padding: 16px 0px;
}
.save:hover{
    color: #ffffff;
    cursor:u pointer;
    background: rgb(180, 127, 22);
}
.save:active{
    color: #ffffff;
    cursor: pointer;
    background: rgb(180, 127, 22);
}
.cancel{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #6A4029;
    text-align: center;
    
    width: 207px;
    height: 60px;
    left: 239px;
    top: 926px;
    
    background: #FFBA33;
    border-radius: 20px;
    padding: 16px 0px;

}
.cancel:hover{
    cursor: pointer;
    color: #6A4029;
    background: #FFCB65;
}
.cancel:active{
    cursor: pointer;
    color: #6A4029;
    background: #c5983f;
}
.logout{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #6A4029;
    text-align: center;
    
    width: 207px;
    height: 60px;
    left: 239px;
    top: 926px;
    
    background: #FFFFFF;
    border-radius: 20px;
    padding: 16px 0px;
    border: 1px solid #9F9F9F;
    border-radius: 20px;

}
.logout:hover{
    cursor: pointer;
    background: rgb(170, 168, 168);
    color: #000000;
}
.logout:active{
    background: rgb(32, 32, 32);
    color: #cfbaaf;
}





.footer{
    height: 450px;
    top: 1100px;

    background: #F8F8F8;
    display: flex;
    flex-direction: column;
}
.space-1{
    flex:2;
}
.footer-content {
    flex: 6;

    height: 233px;
    margin: 0 10vw 0 10vw;
    width: 80vw;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    align-items: start;
}
.space-2{
    flex:1;
}
.footer-content-1{
    flex: 11;
    position: relative;
}
.footer-content-2{
    flex: 2;
    margin-right: 10px;
}
.footer-content-3{
    flex: 2;
}
.list {
    margin:10px 0px 10px 0px;
    height: 30px;
    
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    padding-left: 10px;
}
.list:hover{
    cursor: pointer;
}
.list:active{
    cursor: pointer;
    background: rgb(170, 168, 168);
    border-radius: 10px;
}
.list-title{
    margin:10px 0px 10px 0px;
    height: 30px;
    
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
    padding-left: 10px;
}
.list-title:hover{
    cursor: pointer;
}
.list-title:active{
    background: rgb(170, 168, 168);
    border-radius: 10px;
}
.image-3 {
    width: 30px;
    position: relative;
}
.title-2 {
    position: relative;
    text-align: left;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;

    padding: 10px;
    color: rgba(11, 19, 42, 1);
    display: inline;
}
.desc{
    position: relative;
    width: 320px;;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo{
    display: inline;
    height: 30px;
    object-fit: cover;
}
.logo:hover{
    cursor: pointer;
}
.logo:active{
    cursor: pointer;
}
.copy-right{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #AFB5C0;

    margin-top: 20px;
}

@media only screen and (max-width: 600px){
    .col-l-1 {width: 8.33%;}
    .col-l-2 {width: 16.66%;}
    .col-l-3 {width: 25%;}
    .col-l-4 {width: 33.33%;}
    .col-l-5 {width: 41.66%;}
    .col-l-6 {width: 50%;}
    .col-l-7 {width: 58.33%;}
    .col-l-8 {width: 66.66%;}
    .col-l-9 {width: 75%;}
    .col-l-10 {width: 83.33%;}
    .col-l-11 {width: 91.66%;}
    .col-l-12 {width: 100%;}
    
}