*,
*::before,
*::after {
    margin:0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 1);
}
.aside-content{
    flex:1;
}
.aside-image {
    /* position: absolute; */
    width: 682px;
    height: 1100px;
    left: 1px;
    top: 0px;
    object-fit: cover;
}
.main-content {
    flex:1;
    display: flex;
    flex-direction: column;
}
.flex-container {
    display: flex;
    flex-direction: row;;
    align-items: center;
    justify-content: center;
}
.title {
    text-align: left;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 990;
    font-size: 20px;
    line-height: 24px;

    padding: 10px;
    color: rgba(11, 19, 42, 1);
    margin-top: 55px;
}
.title:hover{    
    cursor: pointer;
    background: rgb(170, 168, 168);
    border-radius: 20px;
}
.title:active{    
    cursor: pointer;
    background: rgb(88, 87, 87);
    border-radius: 20px;
}
.login {
    flex:1;
    margin-top: 55px;

    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: rgba(106, 64, 41, 1);

    background: #FFBA33;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 190px;
    margin-right: 90px;
}
.login:hover{    
    cursor: pointer;
    background: #d69616;
    border-radius: 20px;
}
.login:active{    
    cursor: pointer;
    background: #9c6d0f;
    border-radius: 20px;
}
.image-1{
    width: 30px;
    margin-top: 60px;
    margin-left: 50px;
}
.flex-container-2{
    flex:1;
    position: relative;
    top: 70px;
}
.subtitle {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 35px;
    line-height: 41px;
    color: rgba(106, 64, 41, 1);
}
.form {
    display: flex;
    flex-direction: column;
}
.form{
    flex:7;
    margin-left: 80px;
    margin-right: 80px;
}
.form-label{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 750;
    font-size: 20px;
    line-height: 24px;
    color: #4F5665;
    margin-bottom: 15px;
    margin-top: 32px;
}
.form-input{
    background: #FFFFFF;
    border-radius: 20px;
    width: 500px;
    height: 75px;
    border: 1px solid rgba(79, 86, 101, 1);
    left: 20px;
    font-size: large;
    padding-left:30px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.form-input::placeholder{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: rgba(159, 159, 159, 1);
}
.button {
    border-radius: 20px;
    width: 505px;
    height: 75px;
    margin-top: 50px;
    text-align: center;
    padding: 25px;
    box-shadow: 9px 9px 20px 0px rgba(196, 196, 196, 0.67);
}
#button-1 {
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #6A4029;
    background: rgba(255, 186, 51, 1);
    display: table-cell;
    vertical-align: middle;
}
#button-1:hover{
    cursor: pointer;
    background: rgb(180, 127, 22);
}
#button-1:active{
    background: rgb(156, 109, 13)
}
.button-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#button-2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 26px;
    color: #000000;
    background: rgba(255, 255, 255, 1);
}
#button-2:hover{
    cursor: pointer;
    background: rgb(170, 168, 168);
    color: #000000;
}
#button-2:active{
    background: rgb(32, 32, 32);
    color: #cfbaaf;
}
.sub-button-2{
    flex:1;
    text-align: left;
}
.image-2{
    width: 25px;
    object-fit: contain;
    margin-right: 10px;
}
.box{
    position: absolute;
    height: 233px;
    width: 80vw;
    top: 980px;
    margin: 0 10vw 0 10vw;
    background: #FFFFFF;
    border-radius: 10px;
    box-shadow: 9px 9px 20px 0px rgba(196, 196, 196, 0.67);

    display: flex;
    flex-direction: row;
    align-items: center;

    z-index: 1;
}
.box-1-left {
    flex: 1;
    margin-left: 70px;
}
.box-1-right{
    flex: 1;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    color: #6A4029;

    padding: 10px 0;
    background: #FFBA33;
    border-radius: 10px;
    margin-left: 380px;
    margin-right: 70px;
}
.box-1-right:hover{
    cursor: pointer;
    background: rgb(180, 127, 22);
}
.box-1-right:active{
    background: rgb(156, 109, 13)
}
#box-1-left-1{
    width: 350.61px;

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 45px;
    color: #0B132A;
}
#box-1-left-2{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 10;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}
.footer{
    height: 528px;
    top: 1100px;

    background: #F8F8F8;
    display: flex;
    flex-direction: column;
}
.space-1{
    flex:2;
}
.footer-content {
    flex: 3;

    height: 233px;
    margin: 0 10vw 0 10vw;
    width: 80vw;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    align-items: start;
}
.space-2{
    flex:1;
}
.footer-content-1{
    flex: 11;
    position: relative;
}
.footer-content-2{
    flex: 2;
    margin-right: 10px;
}
.footer-content-3{
    flex: 2;
}
.list {
    margin:10px 0px 10px 0px;
    height: 30px;
    
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    padding-left: 10px;
}
.list:hover{
    cursor: pointer;
}
.list:active{
    cursor: pointer;
    background: rgb(170, 168, 168);
    border-radius: 10px;
}
.list-title{
    margin:10px 0px 10px 0px;
    height: 30px;
    
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #0B132A;
    padding-left: 10px;
}
.list-title:hover{
    cursor: pointer;
}
.list-title:active{
    background: rgb(170, 168, 168);
    border-radius: 10px;
}
.image-3 {
    width: 30px;
    position: relative;
}
.title-2 {
    position: relative;
    text-align: left;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;

    padding: 10px;
    color: rgba(11, 19, 42, 1);
    display: inline;
}
.desc{
    position: relative;
    width: 320px;;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo{
    display: inline;
    inline-size: 2px;
    height: 30px;
    object-fit: cover;
}
.logo:hover{
    cursor: pointer;
}
.logo:active{
    cursor: pointer;
}
.copy-right{
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #AFB5C0;

    margin-top: 20px;
}